@font-face {
    font-family: 'BernhardBold';
    src: url('../../assets/fonts/DemonSouls/Bernhard\ Modern\ Bold\ BT.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bernhard';
    src: url('../../assets/fonts/DemonSouls/Bernhard\ Modern\ BT.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #0a0a0e; /* Abyssal Midnight */
    color: #e0dacd; /* Pale Phantom */
    font-family: 'BernhardBold', Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282a36; /* Obsidian */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    font-family: 'Bernhard', Arial, sans-serif;
}

.title {
    text-align: center;
    color: #cda966; /* Royal Gold */
    font-family: 'BernhardBold', Arial, sans-serif;
}

.bossList {
    list-style-type: none;
    padding: 0;
}

.bossItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #514839; /* Worn Bronze */
    transition: background-color 0.2s;
    cursor: pointer;
}

.bossItem.defeated {
    background-color: #3d4149; /* Ashen Gray */
    color: #cda966; /* Royal Gold */
}

.bossItem:hover {
    background-color: #634d3c; /* Embered Brown */
}

.bossName {
    flex: 1;
    display: flex;
    align-items: center;
}

.bossImage {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #514839; /* Worn Bronze */
}

.buttonGroup {
    display: flex;
    align-items: center;
}

.countInput {
    width: 40px;
    text-align: center;
    background-color: #282a36; /* Obsidian */
    color: #e0dacd; /* Pale Phantom */
    border: 1px solid #514839; /* Worn Bronze */
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
    -moz-appearance: textfield;
}

.countInput::-webkit-outer-spin-button,
.countInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    background-color: #cda966; /* Royal Gold */
    border: none;
    color: #000;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #dcb278; /* Brighter Gold */
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.resetButtonContainer {
    position: relative;
    width: 100%;
 
}


.resetButton,
.resetButton2 {
    background-color: #962d2d; /* Cursed Blood */
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    border: 1px solid #fff;
}
.resetButton {
    
    display: block;
    margin: 0 auto;
}
.resetButton:hover,
.resetButton2:hover {
    background-color: #b73838; /* Darker Blood */
}

.immortalitySeveredButton,
.victoryAchievedButton {
    background-color: #cda966; /* Royal Gold */
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0 -5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}

.immortalitySeveredButton:hover,
.victoryAchievedButton:hover {
    background-color: #dcb278; /* Brighter Gold */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modalContent {
    background: #282a36; /* Obsidian */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 600px;
    color: #cda966; /* Royal Gold */
}

.modalBossImage {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
    border-radius: 0px;
    object-fit: cover;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #e0dacd; /* Pale Phantom */
    font-size: 24px;
    cursor: pointer;
}

.modal .button {
    background-color: transparent;
    border: none;
    color: #e0dacd; /* Pale Phantom */
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    transition: color 0.3s;
}

.modal .button:hover {
    color: #cda966; /* Royal Gold */
}

.modal .buttonGroup {
    justify-content: center;
    margin: 20px 0;
}

.modal .countInput {
    width: 60px;
    height: 40px;
    font-size: 1.5em;
    padding: 10px;
    margin: 0 10px;
}

.confirmationModal .modalContent {
    padding: 20px;
}

.confirmationModal .modalButton {
    background-color: #cda966; /* Royal Gold */
    border: none;
    color: #000;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.confirmationModal .modalButton:hover {
    background-color: #dcb278; /* Brighter Gold */
}

.countInput {
    border: none;
}

.descriptionText {
    color: #e0dacd; /* Pale Phantom */
    margin-top: 10px;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
}

.totalDeaths {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: #cda966; /* Royal Gold */
}

.toggleButton {
    background-color: #962d2d; /* Cursed Blood */
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.toggleButton:hover {
    background-color: #b73838; /* Darker Blood */
}

.titleItems {
    display: flex;
    flex-direction: column;
}
