@font-face {
    font-family: 'OptimusPrinceps';
    src: url('../../assets/fonts/DarkSoulsIII/OptimusPrinceps.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OptimusPrincepsSemiBold';
    src: url('../../assets/fonts/DarkSoulsIII/OptimusPrincepsSemiBold.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #2f2f2f; /* Abyss Black */
    color: #e1d6b8; /* Faded Ivory */
    font-family: 'OptimusPrinceps', Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0f0f0f; /* Ancient Gray */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.title {
    text-align: center;
    color: #a58c47; /* Tarnished Gold */
    font-family: 'OptimusPrincepsSemiBold', Arial, sans-serif;
}

.bossList {
    list-style-type: none;
    padding: 0;
}

.bossItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #534a32; /* Old Bronze */
    transition: background-color 0.2s;
    cursor: pointer;
}

.bossItem.defeated {
    background-color: #4e5a44; /* Faded Moss */
    color: #a58c47; /* Tarnished Gold */
}

.bossItem:hover {
    background-color: #615344; /* Ancient Bronze */
}

.bossName {
    flex: 1;
    display: flex;
    align-items: center;
}

.bossImage {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #534a32; /* Old Bronze */
}

.buttonGroup {
    display: flex;
    align-items: center;
}

.countInput {
    width: 40px;
    text-align: center;
    background-color: #0f0f0f; /* Ancient Gray */
    color: #e1d6b8; /* Faded Ivory */
    border: 1px solid #534a32; /* Old Bronze */
    border-radius: 5px;
    margin: 0 5px;
    padding: 5px;
    -moz-appearance: textfield;
}

.countInput::-webkit-outer-spin-button,
.countInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.button {
    background-color: #a58c47; /* Tarnished Gold */
    border: none;
    color: #2f2f2f; /* Abyss Black */
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #c2a65d; /* Sunlit Gold */
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.resetButtonContainer {
    position: relative;
    width: 100%;
}

.resetButton {
    background-color: #7b2222; /* Dried Blood */
    border: none;
    color: #e1d6b8; /* Faded Ivory */
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.resetButton2 {
    background-color: #7b2222; /* Dried Blood */
    border: none;
    color: #e1d6b8; /* Faded Ivory */
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    position: relative;
}

.resetButton:hover {
    background-color: #953434; /* Old Blood */
}

.immortalitySeveredButton,
.victoryAchievedButton {
    background-color: #a58c47; /* Tarnished Gold */
    border: none;
    color: #2f2f2f; /* Abyss Black */
    padding: 10px 20px;
    margin: 20px 0 -5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.immortalitySeveredButton:hover,
.victoryAchievedButton:hover {
    background-color: #c2a65d; /* Sunlit Gold */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modalContent {
    background: #0f0f0f; /* Ancient Gray */
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 80%;
    max-width: 600px;
    color: #a58c47; /* Tarnished Gold */
}

.modalBossImage {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: block;
    border-radius: 0px;
    object-fit: cover;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #e1d6b8; /* Faded Ivory */
    font-size: 24px;
    cursor: pointer;
}

.modal .button {
    background-color: transparent;
    border: none;
    color: #e1d6b8; /* Faded Ivory */
    padding: 10px;
    font-size: 2em;
    cursor: pointer;
    transition: color 0.3s;
}

.modal .button:hover {
    color: #a58c47; /* Tarnished Gold */
}

.modal .buttonGroup {
    justify-content: center;
    margin: 20px 0;
}

.modal .countInput {
    width: 60px;
    height: 40px;
    font-size: 1.5em;
    padding: 10px;
    margin: 0 10px;
}

.confirmationModal .modalContent {
    padding: 20px;
}

.confirmationModal .modalButton {
    background-color: #a58c47; /* Tarnished Gold */
    border: none;
    color: #2f2f2f; /* Abyss Black */
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.confirmationModal .modalButton:hover {
    background-color: #c2a65d; /* Sunlit Gold */
}

.countInput {
    border: none;
}

.descriptionText {
    color: #e1d6b8; /* Faded Ivory */
    margin-top: 10px;
    font-size: 0.8em;
    font-family: Arial, sans-serif;
}

.totalDeaths {
    text-align: center;
    margin: 20px 0;
    font-size: 1.2em;
    color: #a58c47; /* Tarnished Gold */
}

.toggleButton {
    background-color: #7b2222; /* Dried Blood */
    border: none;
    color: #e1d6b8; /* Faded Ivory */
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Mantinia Regular', Arial, sans-serif;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.toggleButton:hover {
    background-color: #953434; /* Old Blood */
}

.titleItems {
    display: flex;
    flex-direction: column;
}
